# --- GERAL ---
HOST_IP=localhost
LOCALE=pt_BR
TIMEZONE=America/Sao_Paulo
REGKEY=your_random_string

# --- REDIS ---
SET_REDIS_PORT=6379
REDIS_URL=redis://redis:${SET_REDIS_PORT}

# --- EVOLUTION_API ---
EVOLUTION_DB_NAME=evolution
EVOLUTION_DB_USER=evolution
EVOLUTION_DB_PASSWORD=newpassword
EVOLUTION_REDIS=${REDIS_URL}/1


# --- N8N ---
N8N_DB_NAME=n8n
N8N_DB_USER=n8n
N8N_DB_PASSWORD=newpassword
N8N_REDIS=${REDIS_URL}


# --- CHATWOOT ---
CHATWOOT_DB_NAME=chatwoot
CHATWOOT_DB_USER=chatwoot
CHATWOOT_DB_PASSWORD=newpassword
CHATWOOT_REDIS=${REDIS_URL}/3


# --- TYPEBOT ---
TYPEBOT_DB_NAME=typebot
TYPEBOT_DB_USER=typebot
TYPEBOT_DB_PASSWORD=newpassword
TYPEBOT_REDIS=${REDIS_URL}/4


# --- POSTGRES ---
SET_DB_TYPE=postgresdb
PG_ROOT_HOST=postgres
PG_ROOT_USER=postgres
PG_ROOT_PASSWORD=newpassword
SET_POSTGRES_PORT=5432


# --- MINIO ---
MINIO_EVOLUTION_S3=true
MINIO_ACCESS_KEY=access_key_id
MINIO_SECRET_KEY=secret_access_key
MINIO_PORT=9000
MINIO_ENDPOINT=http://minio:${MINIO_PORT}
MINIO_USE_SSL=false
MINIO_REGION=sa-east-1
MINIO_ROOT_USER=administrator
MINIO_ROOT_PASSWORD=newpassword
MINIO_BROWSER_REDIRECT_URL=http://${HOST_IP}:9001
MINIO_SERVER_URL=http://${HOST_IP}:${MINIO_PORT}
MINIO_BUCKETS=${EVOLUTION_DB_NAME},${CHATWOOT_DB_NAME},${TYPEBOT_DB_NAME},${N8N_DB_NAME}


# --- SMTP ---
SERVER_SMTP_DOMAIN=smtp.office365.com
SERVER_SMTP_PORT=587
SERVER_SMTP_USER=username
SERVER_SMTP_PASS=password