DB_TYPE=${SET_DB_TYPE}
DB_POSTGRESDB_HOST=${PG_ROOT_HOST}
DB_POSTGRESDB_PORT=${SET_POSTGRES_PORT}
DB_POSTGRESDB_DATABASE=${N8N_DB_NAME}
DB_POSTGRESDB_USER=${N8N_DB_USER}
DB_POSTGRESDB_PASSWORD=${N8N_DB_PASSWORD}
N8N_SECURE_COOKIE=false
N8N_DEFAULT_LOCALE=${LOCALE}
GENERIC_TIMEZONE=${TIMEZONE}
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_RUNNERS_ENABLED=true
N8N_ENCRYPTION_KEY=${REGKEY}
N8N_HOST=${HOST_IP}:5678
N8N_EDITOR_BASE_URL=http://${HOST_IP}:5678/
N8N_PROTOCOL=http
NODE_ENV=production
WEBHOOK_URL=http://${HOST_IP}:5678/
EXECUTIONS_MODE=regular
QUEUE_BULL_REDIS_HOST=redis
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_DB=2
NODE_FUNCTION_ALLOW_EXTERNAL=moment,lodash,moment-with-locales
EXECUTIONS_DATA_PRUNE='true'
EXECUTIONS_DATA_MAX_AGE=336