# Make sure to change this to your own random string of 32 characters (https://docs.typebot.io/self-hosting/deploy/docker#2-add-the-required-configuration)
ENCRYPTION_SECRET=do+UspMmB/rewbX2K/rskFmtgGSSZ8Ta

DATABASE_URL=postgresql://postgres:typebot@typebot-db:5432/typebot

NODE_OPTIONS=--no-node-snapshot

NEXTAUTH_URL=
NEXT_PUBLIC_VIEWER_URL=

ADMIN_EMAIL=
# For more configuration options check out: https://docs.typebot.io/self-hosting/configuration

# --- Provedor de E-mail (SMTP Office 365) ---
# Usado para o botão "Entrar com E-mail"
# SMTP_USERNAME=${SMTP_USER}
# SMTP_PASSWORD=${SMTP_PASS}
# SMTP_HOST=${SMTP_DOMAIN}
# SMTP_PORT=${SMTP_PORT}
# NEXT_PUBLIC_SMTP_FROM="'Typebot Notifications' <notificacao@osceia.org.br>"
# SMTP_SECURE=true
# SMTP_IGNORE_TLS=undefined
# SMTP_AUTH_DISABLED=false

# --- Provedor do GitHub ---
# Cole aqui as chaves que você gerou no passo anterior
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=

