# Make sure to change this to your own random string of 32 characters (https://docs.typebot.io/self-hosting/deploy/docker#2-add-the-required-configuration)
ENCRYPTION_SECRET=${REGKEY}

DATABASE_URL=postgresql://${TYPEBOT_DB_USER}:${TYPEBOT_DB_PASSWORD}@${PG_ROOT_HOST}:${SET_POSTGRES_PORT}/${TYPEBOT_DB_NAME}


NODE_OPTIONS=--no-node-snapshot

NEXTAUTH_URL=http://${HOST_IP}:3000
NEXT_PUBLIC_VIEWER_URL=http://${HOST_IP}:3001

ADMIN_EMAIL=seu-email@dominio.com
# For more configuration options check out: https://docs.typebot.io/self-hosting/configuration

# --- Provedor de E-mail (Opcional) ---
# Usado para o botão "Entrar com E-mail"
# SMTP_USERNAME=${SMTP_USER}
# SMTP_PASSWORD=${SMTP_PASS}
# SMTP_HOST=${SMTP_DOMAIN}
# SMTP_PORT=${SMTP_PORT}
# NEXT_PUBLIC_SMTP_FROM="'Typebot Notifications' <notificacao@osceia.org.br>"
# SMTP_SECURE=true
# SMTP_IGNORE_TLS=undefined
# SMTP_AUTH_DISABLED=false
SMTP_USERNAME=${SERVER_SMTP_USER}
SMTP_PASSWORD=${SERVER_SMTP_PASS}
SMTP_HOST=${SERVER_SMTP_ADDRESS}
SMTP_PORT=${SERVER_SMTP_PORT}
NEXT_PUBLIC_SMTP_FROM='Typebot Notifications <notificacao@osceia.org.br>'
SMTP_SECURE=false
SMTP_IGNORE_TLS=false
SMTP_AUTH_DISABLED=false


# --- Provedor do GitHub (Opcional) ---
# Cole aqui as chaves que você gerou no passo anterior
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=

